<html>
  <head>
    <title>Eleventy Netlify test</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
  <div class="navbar">
    <div class="navbar-logo-container">
      <img class ="navbar-logo" src="/images/uploads/logo.png" alt="logo">
    </div>
    <div class="navbar-link-container">
      <a href="/">Home</a>
      <a href="/about/">About us</a>
      <a href="/events/">Agenda</a>
    </div>
  </div>

  <div class="main">
    <h2>{{ title }}</h2>
    {{ content | safe }}
  </div>
  </body>
</html>
